version: 2
updates:
- package-ecosystem: github-actions
  directory: "/"
  groups:
    github-actions:
      patterns:
        - "*" 
  schedule:
    interval: weekly
  open-pull-requests-limit: 20
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 20
